* {
    margin: 0;
    padding: 0;
}

.container {
    margin: 0 auto;
    width: 1200px;
}

.intro {
    max-height: 100vh;
}

.video {
    position: relative;
    padding-bottom: 56.25%;
}

.video__media {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
}