@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Semibold.ttf') format('truetype');
    font-weight: 600;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Bold.ttf') format('truetype');
    font-weight: 700;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Extrabold.ttf') format('truetype');
    font-weight: 800;
}

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

body {
    background: url('../img/Bg.png') no-repeat center / cover;
    font-family: 'Gilroy';
    color: #FFF;
}

.container {
    width: 1500px;
    margin: 0 auto;
}


.section-title {
    font-size: 40px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;
    text-shadow: 0px 0px 50px #00C2FF;
    color:#00C2FF;
}

.section-subtitle {
    font-size: 12px;
    text-transform: uppercase;
    text-align: center;
    color: white;
    letter-spacing: 10px;
    margin-top: 5px;
}










.intro {
    height: 100vh;
    overflow: hidden;
    z-index: 0;
    position: relative;
}

.intro-content {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    width: 100%;
    height: 100%;
}

.intro::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.video-bg {
    position: relative;
    padding-bottom: 56.25%;
}

.video-media {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
}





.header-wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 35px;
    align-items: center;
}

.konfa-link {
    margin-bottom: 210px;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-family: 'Gilroy';
    letter-spacing: 2px;
    font-weight: 600;
    font-size: 18px;
}

.konfa-link:hover {
    transition: 0.3s;
    text-shadow: 0px 0px 75px #00C2FF;
    color:#00C2FF;
}

.konfa-link:not(:hover) {
    transition: 0.3s;
}

.konfa {
    width: 50px;
    margin-bottom: 25px;
}

.header-subtitle {
    text-transform: uppercase;
    letter-spacing: 25px;
    font-size: 50px;
    text-align: center;
    line-height: 100%;
}

.header-title {
    text-transform: uppercase;
    letter-spacing: 10px;
    font-size: 150px;
    text-align: center;
    line-height: 100%;
    text-shadow: 0px 0px 75px #00C2FF;
    color:#00C2FF;
}

.header-description {
    color: #AEAEAE;
    font-size: 15px;
    font-weight: 600;
    text-align: center;
    letter-spacing: 2px;
    margin-top: 75px;
}












.brackets-wrapper {
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.brackets {
    padding: 90px 0;
}

.bracket {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bracket-quaterfinal {
    display: flex;
    gap: 30px;
    flex-direction: column;
}

.bracket-semifinal {
    display: flex;
    gap: 200px;
    flex-direction: column;
}

.match-wrapper {
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.match-wrapper:hover {
    transition: 0.3s;
    transform: scale(1.05);
}

.match-wrapper:not(:hover) {
    transition: 0.3s;
}

.match {
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.match-info {
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2.5px;
    font-size: 10px;
}

.player {
    display: flex;
    gap: 10px;
}

.player:hover {
    transition: 0.3s;
    transform: scale(1.05);
}

.player:not(:hover) {
    transition: 0.3s;
}

.player-info {
    padding: 15px 0;
    border-radius: 25px;
    background: #161616;
    width: 250px;
    font-family: 'RoadRadio';
}

.player-score {
    border-radius: 25px;
    background: #161616;
    width: 50px;
    font-family: 'RoadRadio';
    color: #FFF;
    font-size: 25px;
    letter-spacing: 2.5px;
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 0 7px;
}

.player-nickname {
    color: #FFF;
    font-size: 18px;
    letter-spacing: 2.5px;
    text-transform: uppercase;
    text-align: center;
}

.player-surname {
    color: #03a2d3;
    font-size: 12px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    text-align: center;
}











.pickems {
    padding: 90px 0;
}

.pickems-wrapper {
    margin-top: 45px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.pickem {
    display: flex;
    justify-content: space-between;
}

.pickem-player {
    width: 350px;
    height: 500px;
    background-color: #161616;
    border-radius: 25px;
}

.pickem-player-surname {
    color: #FFF;
    font-size: 18px;
    letter-spacing: 3px;
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
    margin-top: 425px;
}

.pickem-player-nickname {
    color: #00C2FF;
    font-size: 15px;
    letter-spacing: 3px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
}

.pickem-wrapper {
    background: #161616;
    width: 1100px;
    border-radius: 25px;
    align-items: center;
    display: flex;
    gap: 15px;
    justify-content: center;
}


.pickem-winner {
    background: #232323;
    width: 335px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
}

.pickem-image {
    width: 300px;
    margin-top: 20px;
}

.pickem-nickname {
    color: #FFF;
    font-size: 30px;
    letter-spacing: 3px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    margin-top: 25px;
}

.pickem-status {
    color: #00C2FF;
    font-size: 12px;
    letter-spacing: 2px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 25px;
}

#pickem-1 {
    background: url('../img/Pogostiev1.png') no-repeat center / cover;
}

#pickem-2 {
    background: url('../img/Osmolovsky1.png') no-repeat center / cover;
}

#pickem-3 {
    background: url('../img/Starovoitov1.png') no-repeat center / cover;
}

#pickem-4 {
    background: url('../img/Korneev1.png') no-repeat center / cover;
}





























.videos {
    padding: 90px 0;
}

.videos-wrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 45px;
    align-items: center;
}

.video-wrapper {
    display: flex;
    gap: 30px;
}

.video {
    border-radius: 25px;
    background: #161616;
    width: 480px;
}

.video-title {
    color: #FFF;
    font-size: 18px;
    letter-spacing: 2.5px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    margin-top: 250px;
    margin-bottom: 25px;
}

.video-title span {
    color: #03a2d3;
}





























.footer {
    padding-bottom: 90px;
}

.credits-title {
    color: #00C2FF;
    text-transform: uppercase;
    text-align: center;
    font-weight: 800;
    letter-spacing: 10px;
    font-size: 25px;
    margin-bottom: 10px;
    text-shadow: 0px 0px 50px #00C2FF;
}

.credits-text {
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    letter-spacing: 5px;
    font-size: 15px;
}