@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Semibold.ttf') format('truetype');
    font-weight: 600;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Bold.ttf') format('truetype');
    font-weight: 700;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Extrabold.ttf') format('truetype');
    font-weight: 800;
}

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

body {
    background: black;
    font-family: 'Gilroy';
    color: #FFF;
}

.container {
    width: 1500px;
    margin: 0 auto;
}


.section-title {
    font-size: 40px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;
    text-shadow: 0px 0px 50px #00C2FF;
    color:#00C2FF;
}

.section-subtitle {
    font-size: 12px;
    text-transform: uppercase;
    text-align: center;
    color: white;
    letter-spacing: 10px;
    margin-top: 5px;
}











.brackets-wrapper {
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.brackets {
    padding: 90px 0;
}

.bracket {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bracket-quaterfinal {
    display: flex;
    gap: 30px;
    flex-direction: column;
}

.bracket-semifinal {
    display: flex;
    gap: 200px;
    flex-direction: column;
}

.match-wrapper {
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.match {
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.match-info {
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2.5px;
    font-size: 10px;
}

.player {
    display: flex;
    gap: 10px;
}

.player-info {
    padding: 15px 0;
    border-radius: 25px;
    background: #161616;
    width: 250px;
    font-family: 'RoadRadio';
}

.player-score {
    border-radius: 25px;
    background: #161616;
    width: 50px;
    font-family: 'RoadRadio';
    color: #FFF;
    font-size: 25px;
    letter-spacing: 2.5px;
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 0 7px;
}

.player-nickname {
    color: #FFF;
    font-size: 18px;
    letter-spacing: 2.5px;
    text-transform: uppercase;
    text-align: center;
}

.player-surname {
    color: #03a2d3;
    font-size: 12px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    text-align: center;
}











.pickems {
    padding: 90px 0;
}

.pickems-wrapper {
    margin-top: 45px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.pickem {
    display: flex;
    justify-content: space-between;
}

.pickem-player {
    padding-top: 405px;
    padding-bottom: 35px;
    padding-left: 65px;
    padding-right: 65px;
    background-color: #161616;
    border-radius: 25px;
}

.pickem-player-surname {
    color: #FFF;
    font-size: 20px;
    letter-spacing: 3px;
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
}

.pickem-player-nickname {
    color: #00C2FF;
    font-size: 15px;
    letter-spacing: 3px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
}

.pickem-wrapper {
    background: #161616;
    width: 1100px;
    border-radius: 25px;
    align-items: center;
    display: flex;
    gap: 15px;
    justify-content: center;
}


.pickem-winner {
    background: #232323;
    width: 335px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
}

.pickem-image {
    width: 300px;
    margin-top: 20px;
}

.pickem-nickname {
    color: #FFF;
    font-size: 30px;
    letter-spacing: 3px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    margin-top: 25px;
}

.pickem-status {
    color: #00C2FF;
    font-size: 12px;
    letter-spacing: 2px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 25px;
}











.phrase-wrapper {
    display: flex;
    justify-content: space-between;
}

.phrase-player {
    background: #161616;
}

.phrase-text {
    
}





















.videos {
    padding: 90px 0;
}

.videos-wrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 45px;
}

.video-wrapper {
    display: flex;
    gap: 30px;
}

.video {
    border-radius: 25px;
    background: #161616;
    width: 480px;
}

.video-title {
    color: #FFF;
    font-size: 18px;
    letter-spacing: 2.5px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    margin-top: 250px;
    margin-bottom: 25px;
}

.video-title span {
    color: #03a2d3;
}





























.footer {
    padding-bottom: 90px;
}

.credits-title {
    color: #00C2FF;
    text-transform: uppercase;
    text-align: center;
    font-weight: 800;
    letter-spacing: 10px;
    font-size: 25px;
    margin-bottom: 10px;
    text-shadow: 0px 0px 50px #00C2FF;
}

.credits-text {
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    letter-spacing: 5px;
    font-size: 15px;
}