* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

body {
    font-family: "Jost", sans-serif;
    background: #0066FF;
}

.container {
    width: 1600px;
    margin: 0 auto;
}








.header {
    background: #FFF;
    padding: 15px 0;
    font-size: 20px;
    font-weight: 500;
}

.header-bar-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-bar-logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header-bar-logo img {
    width: 30px;
}


.heaeder-bar-buttons {
    display: flex;
    gap: 15px;
}

.header-bar-logo p {
    color: #0066FF;
    text-transform: uppercase;
}

.heaeder-bar-buttons a {
    background: #fff;
    padding: 10px 20px;
    color: #0066FF;
    border-radius: 15px;
}

.heaeder-bar-buttons a:hover {
    background: #f7f7f7;
    transition: 0.3s;
}

.heaeder-bar-buttons a:not(:hover) {
    transition: 0.3s;
}






.group-stage {
    margin-top: 150px;
}

.group-stage .container {
    display: flex;
    justify-content: center;
}

.groups-wrapper {
    display: flex;
    gap: 60px;
}

.group {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.group-name {
    text-transform: uppercase;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 2px;
}

.group-stage-player {
    display: flex;
    align-items: center;
}

.group-stage-player-inform {
    padding-left: 20px;
    align-items: center;
    height: 53px;
    margin-left: 15px;
    margin-right: 10px;
    background: #FFF;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    width: 300px;
}

.group-stage-player-inform-title h1 {
    font-weight: 600;
    color: #000;
    font-size: 20px;
    line-height: 1;
}

.group-stage-player-inform-title p {
    font-weight: 400;
    color: #000;
    font-size: 12px;
    text-transform: uppercase;
    line-height: 1;
    margin-top: 2px;
}

.group-stage-player-inform-points {
    margin-left: 25px;
    margin-right: 15px;
    align-items: center;
    display: flex;
}

.group-stage-player-inform-points h1 {
    font-weight: 600;
    color: #000;
    font-size: 20px;
    width: 30px;
    text-align: center;
}

.group-stage-player-inform-points p {
    font-weight: 400;
    color: #676767;
    font-size: 20px;
    width: 30px;
    text-align: center;
}













.green {
    height: 34px;
    padding: 10px;
    border-radius: 10px;
    background: #17CD2A;
}

.yellow {
    height: 34px;
    padding: 10px;
    border-radius: 10px;
    background: #FFD952;
}

.white {
    height: 34px;
    padding: 10px;
    border-radius: 10px;
    background: #fff;
}










.playoff {
    padding-top: 100px;
}

.playoff-match {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.playoff-match-date {
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 400;
    font-size: 13px;
}



.playoff-wrapper {
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.playoff-upper-wrapper {
    display: flex;
    align-items: center;
    gap: 50px;
}


#playoff-quaterfinal {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

#playoff-semifinal {
    display: flex;
    flex-direction: column;
    gap: 175px;
}
















.playoff-player {
    display: flex;
    gap: 15px;
    line-height: 1;
    align-items: center;
}

.playoff-player-inform {
    width: 180px;
    padding: 10px 0;
    background: #FFF;
    border-radius: 10px;
    align-items: center;
}

.playoff-player-inform h1 {
    margin-left: 20px;
    width: 100px;
    font-weight: 600;
    color: #000;
    font-size: 20px;
}



.playoff-player-inform p {
    margin-left: 20px;
    width: 100px;
    font-weight: 400;
    color: #000;
    font-size: 12px;
    text-transform: uppercase;
    line-height: 1;
    margin-top: 2px;
}

.playoff-player-result {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 53px;
    height: 53px;
    background: #FFF;
    border-radius: 10px;
}


.playoff-player-result p {
    font-weight: 600;
    color: #000;
    font-size: 20px;
}