* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    letter-spacing: 0.5px;
    line-height: 1;
    font-family: "Jost", sans-serif;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.section-title {
    text-transform: uppercase;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 35px;
}

.section-title h1 {
    color: #000;
    font-weight: 600;
    font-size: 30px;
}

.section-title p {
    color: #0066FF;
    font-weight: 500;
    font-size: 12px;
}

.header {
    min-height: 100vh;
    position: relative;
}

.first__video {
    left: 0;
    top: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.introo {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.intro {
    position: relative;
    z-index: 10;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.logo {
    margin-top: 150px;
    width: 50px;
    margin-bottom: 50px;
}

.title {
    text-transform: uppercase;
    font-weight: 800;
    font-size: 50px;
    text-align: center; 
    color: #fff;
}

.title span {
    color: #0066FF;
}

.menu-buttons-wrapper {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.buttons-line {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.menu-button {
    text-transform: uppercase;
    color: white;
    font-weight: 500;
    font-size: 15px;
    background: #ffffff1f;
    border-radius: 10px;
    padding: 8px 20px;
}

.menu-button:hover {
    transition: 0.3s;
    background: #0066ff53;
}

.menu-button:not(:hover) {
    transition: 0.3s;
}







.twitch {
    padding: 100px 0;
    background: url('../img/bg/twitch-bg.jpg') no-repeat center / cover;
}

.twitch-wrapper {
    display: flex;
    justify-content: center;
}





.features {
    padding: 100px 0;
}

.feature-wrapper {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.feature-line {
    justify-content: center;
    display: flex;
    gap: 15px;
}

.record-icon {
    width: 25px;
}

.feature {
    align-items: center;
    display: flex;
    gap: 15px;
    border-radius: 10px;
    color: #000;
    font-weight: 400;
    padding: 15px 30px;
    background: #fff;
    border: 1px solid #E0E0E0;
}

.feature:hover {
    transition: 0.5s;
    transform: scale(1.05);
    background: #F1F7FF;
    border: 1px solid #0066FF;
}

.feature:not(:hover) {
    transition: 0.5s;
}








.first-stage {
    padding: 100px 0;
    background: url('../img/bg/group-bg.jpg') no-repeat center / cover;
}

#qual {
    background: #17CD2A;
}

#qual1 {
    background: #FFD952;
}

#qual2 {
    background: #FF8652;
}

#qual3 {
    background: #FFF;
}

.first-group-wrapper {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.first-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.group-title {
    text-transform: uppercase;
    color: #000;
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 10px;
}

.table-player {
    display: flex;
    align-items: center;
}

.table-player-info {
    background: #fff;
    width: 700px;
    padding: 10px 20px;
    border: 1px solid #E0E0E0;
    border-radius: 10px;
    margin: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.player-info {
    display: flex;
    flex-direction: column;
    gap: 5px;
    text-align: left;
}

.player-info h1 {
    font-weight: 500;
}

.player-info p {
    font-weight: 400;
    text-transform: uppercase;
    font-size: 10px;
}

.player-scores {
    display: flex;
    text-align: center;
    font-size: 20px;
}

.score {
    width: 60px;
    text-align: center;
}

.goals {
    width: 75px;
}

.points {
    width: 50px;
    font-weight: 600;
    color: #000;
}

.position {
    width: 22px;
    height: 55px;
    border-radius: 10px;
}

.positions-info-wrapper {
    display: flex;
    justify-content: center;
    gap: 60px;
}

.position-info {
    display: flex;
    gap: 15px;
    align-items: center;
    text-transform: uppercase;
}

.position-icon {
    width: 25px;
    height: 25px;
    border-radius: 10px;
}

.position-info p {
    font-size: 15px;
    font-weight: 500;
}









.calendar {
    padding: 100px 0;
    background: #FFF;
}

.dates {
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
}

.date {
    display: flex;
    align-items: center;
}

.date-date {
    width: 150px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.date-date h1 {
    color: #0066FF;
    font-weight: 500;
    font-size: 25px;
    text-align: right;
    text-transform: uppercase;
}

.date-date p {
    color: #000;
    font-weight: 500;
    font-size: 10px;
    text-align: right;
    text-transform: uppercase;
}

.date-icon {
    margin: 0 35px;
}

.date-info {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 400px;
}

.date-info h1 {
    color: #0066FF;
    font-weight: 500;
    font-size: 25px;
    text-align: left;
    text-transform: uppercase;
}

.date-info p {
    color: #000;
    font-weight: 500;
    font-size: 10px;
    text-align: left;
    text-transform: uppercase;
}

#not-actual .date-date h1 {
    color: #d7d7d7;
}

#not-actual .date-date p {
    color: #c7c7c7;
    font-weight: 500;
    font-size: 10px;
    text-align: right;
    text-transform: uppercase;
}

#not-actual .date-info h1 {
    color: #d7d7d7;
    font-weight: 500;
    font-size: 25px;
    text-align: left;
    text-transform: uppercase;
}

#not-actual .date-info p {
    color: #c7c7c7;
    font-weight: 500;
    font-size: 10px;
    text-align: left;
    text-transform: uppercase;
}















.pickems {
    padding: 100px 0;
    background: url('../img/bg/pickem-bg.jpg') no-repeat center / cover;
}

#gold {
    background: #FFF7D9;
}

#silver {
    background: #f1f1f1;
}

#bronze {
    background: #FFE7D9;
}

#none {
    border: 1px solid #E0E0E0;
}

.pickems-wrapper {
    justify-content: center;
    gap: 20px;
    display: flex;
}

.pickem {
    width: 300px;
    text-align: center;
}

.pickem-raw {
    background: #fff;
    border: 1px solid #E0E0E0;
    border-radius: 10px;
    padding: 20px;
}

.pickem-subtitle {
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    color: #000;
}

.pickem-title {
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    color: #0066FF;
    margin-bottom: 20px;
}

.pickem-places-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.pickem-place {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-radius: 10px;
}

.pickem-icon {
    width: 25px;
    height: 25px;
}

.pickem-player-wrapper {
    text-align: right;
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.pickem-player-wrapper h1 {
    font-size: 18px;
    font-weight: 500;
}

.pickem-player-wrapper p {
    font-size: 10px;
    text-transform: uppercase;
    font-weight: 400;
}











.media {
    padding: 100px 0;
    background: #FFF;
}

.media-wrapper {
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.media-line {
    display: flex;
    gap: 20px;
}













.footer {
    padding: 50px 0;
    background: #f5f5f5;
}

.footer-icon {
    margin-bottom: 25px;
}

.credits {
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
}

.credits h1 {
    font-weight: 500;
    color: #000;
    font-size: 15px;
    margin-bottom: 25px;
}

.credits p {
    margin-bottom: 5px;
    font-size: 15px;
    color: #878787;
}